{
  "openapi": "3.1.0",
  "info": {
    "title": "Eigenpal API",
    "version": "1.0.0",
    "description": "Public REST API for inspecting automations, starting and monitoring runs, managing files, collecting human reviews, and running evaluations.",
    "contact": {
      "name": "Eigenpal",
      "url": "https://eigenpal.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://studio.eigenpal.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Metadata",
      "description": "Authenticate and inspect the current API context."
    },
    {
      "name": "Automations",
      "description": "Inspect runnable workflow and agent automations, their versions, triggers, and source sync state."
    },
    {
      "name": "Runs",
      "description": "Start, monitor, retry, review, and debug automation runs, including artifacts."
    },
    {
      "name": "Reviews",
      "description": "Record human review verdicts, manage corrected outputs, and monitor review health."
    },
    {
      "name": "Files",
      "description": "Upload reusable files for later run or dataset use."
    },
    {
      "name": "Evaluation",
      "description": "Manage datasets, examples, evaluators, experiment batches, evaluator scores, and run promotion workflows."
    }
  ],
  "paths": {
    "/api/v1/auth/check": {
      "get": {
        "operationId": "auth.check",
        "summary": "Check API key identity",
        "description": "Return the tenant, user, API key, and scope represented by the current API key.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Authenticated identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations": {
      "get": {
        "operationId": "automations.list",
        "summary": "List automations",
        "description": "Returns workflows and agents through one runnable automation collection. Use `type` to narrow to workflows or agents, and `search` to find automations by slug, name, or description.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Substring match against slug, name, or description",
              "type": "string"
            },
            "description": "Substring match against slug, name, or description"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Filter by implementation type",
              "type": "string",
              "enum": [
                "workflow",
                "agent"
              ]
            },
            "description": "Filter by implementation type"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum number of automations to return.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of automations to return."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "description": "Zero-based offset for paging through automations.",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Zero-based offset for paging through automations."
          }
        ],
        "responses": {
          "200": {
            "description": "Page of runnable workflow and agent automations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAutomationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}": {
      "get": {
        "operationId": "automations.get",
        "summary": "Get automation",
        "description": "Get one runnable workflow or agent automation by id or typed alias.",
        "tags": [
          "Automations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Workflow id, agent id, or typed alias like workflows.slug / agents.slug"
            },
            "required": true,
            "description": "Workflow id, agent id, or typed alias like workflows.slug / agents.slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Automation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/dataset/export": {
      "get": {
        "operationId": "automations.dataset.export",
        "summary": "Export automation dataset",
        "description": "Download the automation dataset as a ZIP archive. The archive uses the examples/<name>/input and examples/<name>/expected folder convention, so it can be re-imported into another automation or environment.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "query",
            "name": "exampleIds",
            "schema": {
              "description": "Optional comma-separated dataset example ids to export. Omit to export the full dataset.",
              "type": "string"
            },
            "description": "Optional comma-separated dataset example ids to export. Omit to export the full dataset."
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset ZIP archive.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "description": "ZIP archive",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/dataset/import": {
      "post": {
        "operationId": "automations.dataset.import",
        "summary": "Import automation dataset",
        "description": "Import a dataset ZIP archive using the examples/<name>/input and examples/<name>/expected folder convention. Use `mode=append` for additive imports or `mode=replace` to replace the dataset.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AutomationDatasetImportMultipartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/evaluators": {
      "get": {
        "operationId": "automations.evaluators.get",
        "summary": "Get evaluators",
        "description": "Fetch the evaluator configuration for an automation. Evaluators produce automated `score` results, which are separate from human review verdicts.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluator YAML and parsed configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "automations.evaluators.update",
        "summary": "Replace evaluators",
        "description": "Replace the evaluator YAML for an automation. The submitted YAML is validated before it becomes the source for future experiment scores.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorConfigUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated evaluator YAML and parsed configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples": {
      "get": {
        "operationId": "automations.examples.list",
        "summary": "List dataset examples",
        "description": "List dataset examples for one automation. Examples contain input, expected output, expected files, metadata, and optional overrides used by evaluation runs.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias, such as `workflows.slug` or `agents.slug`."
            },
            "required": true,
            "description": "Automation id or typed alias, such as `workflows.slug` or `agents.slug`."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum number of examples to return.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of examples to return."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "description": "Zero-based offset for paging through examples.",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Zero-based offset for paging through examples."
          }
        ],
        "responses": {
          "200": {
            "description": "Page of dataset examples.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleList"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "automations.examples.create",
        "summary": "Create dataset example",
        "description": "Create one dataset example from JSON fields. Use dataset import for archive-based uploads and file-bearing examples.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias, such as `workflows.slug` or `agents.slug`."
            },
            "required": true,
            "description": "Automation id or typed alias, such as `workflows.slug` or `agents.slug`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleMutation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created dataset example.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExample"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}": {
      "get": {
        "operationId": "automations.examples.get",
        "summary": "Get dataset example",
        "description": "Fetch one dataset example, including input, expected output, expected files, metadata, and overrides.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
            },
            "required": true,
            "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset example.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExample"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "automations.examples.update",
        "summary": "Update dataset example",
        "description": "Partially update a dataset example. Omitted fields are preserved; pass null for nullable fields to clear them.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
            },
            "required": true,
            "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset example.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExample"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "automations.examples.delete",
        "summary": "Delete dataset example",
        "description": "Delete one dataset example from the automation dataset. This removes the example from future experiments.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
            },
            "required": true,
            "description": "Dataset example id. Agent examples may use deterministic name-derived ids returned by list/create responses."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted dataset example.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExample"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}/expected": {
      "get": {
        "operationId": "automations.examples.expected.files.list",
        "summary": "List expected files",
        "description": "List files stored under the expected folder for one automation dataset example.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          }
        ],
        "responses": {
          "200": {
            "description": "Expected file paths.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleExpectedFileList"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "automations.examples.expected.files.create",
        "summary": "Upload expected files",
        "description": "Upload one or more files into the expected folder for an automation dataset example. Use `$file` references such as `expected/result.pdf` from expected JSON to compare file outputs.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleExpectedFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded expected files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleExpectedFileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}/expected/{path}": {
      "get": {
        "operationId": "automations.examples.expected.file.get",
        "summary": "Download expected dataset file",
        "description": "Download one expected file attached to an automation dataset example.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Path under the example expected folder."
            },
            "required": true,
            "description": "Path under the example expected folder."
          }
        ],
        "responses": {
          "200": {
            "description": "Expected dataset file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "description": "Expected file bytes.",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "automations.examples.expected.file.update",
        "summary": "Rename expected file",
        "description": "Rename one expected file attached to an automation dataset example. The parent folder is preserved.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Path under the example expected folder."
            },
            "required": true,
            "description": "Path under the example expected folder."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleExpectedFileRenameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed expected file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleExpectedFileRenameResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "automations.examples.expected.file.delete",
        "summary": "Delete expected file",
        "description": "Delete one file from an automation dataset example expected folder.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Path under the example expected folder."
            },
            "required": true,
            "description": "Path under the example expected folder."
          }
        ],
        "responses": {
          "200": {
            "description": "Expected file deleted."
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}/input": {
      "get": {
        "operationId": "automations.examples.input.files.list",
        "summary": "List input files",
        "description": "List files stored under the input folder for one automation dataset example.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          }
        ],
        "responses": {
          "200": {
            "description": "Input file paths.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleInputFileList"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "automations.examples.input.files.create",
        "summary": "Upload input files",
        "description": "Upload one or more files into the input folder for an automation dataset example. Use `$file` references such as `input/invoice.pdf` from the example input JSON to consume them.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleInputFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded input files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleInputFileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}/input/{path}": {
      "get": {
        "operationId": "automations.examples.input.file.get",
        "summary": "Download input file",
        "description": "Download one file from an automation dataset example input folder.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Slash-delimited path under the example input folder."
            },
            "required": true,
            "description": "Slash-delimited path under the example input folder."
          }
        ],
        "responses": {
          "200": {
            "description": "Input file bytes.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "description": "Input file bytes.",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "automations.examples.input.file.update",
        "summary": "Rename input file",
        "description": "Rename one input file attached to an automation dataset example. The parent folder is preserved.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Slash-delimited path under the example input folder."
            },
            "required": true,
            "description": "Slash-delimited path under the example input folder."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetExampleInputFileRenameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed input file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetExampleInputFileRenameResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "automations.examples.input.file.delete",
        "summary": "Delete input file",
        "description": "Delete one file from an automation dataset example input folder.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id."
            },
            "required": true,
            "description": "Dataset example id."
          },
          {
            "in": "path",
            "name": "path",
            "schema": {
              "type": "string",
              "description": "Slash-delimited path under the example input folder."
            },
            "required": true,
            "description": "Slash-delimited path under the example input folder."
          }
        ],
        "responses": {
          "200": {
            "description": "Input file deleted."
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/examples/{exampleId}/run": {
      "post": {
        "operationId": "automations.examples.run",
        "summary": "Run dataset example",
        "description": "Start an asynchronous run using the input from one dataset example. Poll `GET /api/v1/runs/{id}` for completion and use run scores or review endpoints to review the result.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "exampleId",
            "schema": {
              "type": "string",
              "description": "Dataset example id to run."
            },
            "required": true,
            "description": "Dataset example id to run."
          }
        ],
        "responses": {
          "201": {
            "description": "Example run accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExampleRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/experiments": {
      "get": {
        "operationId": "automations.experiments.list",
        "summary": "List experiments",
        "description": "List experiment batches for one automation. Each experiment runs selected dataset examples and records automated evaluator scores.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Maximum number of experiment batches to return.",
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "description": "Maximum number of experiment batches to return."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "description": "Zero-based offset for paging through experiment batches.",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Zero-based offset for paging through experiment batches."
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "description": "Filter to experiment batches created at or after this date or relative date.",
              "type": "string"
            },
            "description": "Filter to experiment batches created at or after this date or relative date."
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "description": "Filter to experiment batches created at or before this date or relative date.",
              "type": "string"
            },
            "description": "Filter to experiment batches created at or before this date or relative date."
          }
        ],
        "responses": {
          "200": {
            "description": "Page of experiment batches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Experiment"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "automations.experiments.create",
        "summary": "Create experiment",
        "description": "Start an asynchronous experiment batch for one automation. Omit `examples` to run the full dataset, or pass specific example ids to run a subset.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentCreate"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Experiment accepted and runs enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error. Request shape did not match the spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large. Upload exceeded the per-request size cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the next request may succeed",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/{id}/experiments/{experimentId}": {
      "get": {
        "operationId": "automations.experiments.get",
        "summary": "Get experiment",
        "description": "Fetch one experiment batch with its run summaries and evaluator results grouped by run id.",
        "tags": [
          "Evaluation"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Automation id or typed alias."
            },
            "required": true,
            "description": "Automation id or typed alias."
          },
          {
            "in": "path",
            "name": "experimentId",
            "schema": {
              "type": "string",
              "description": "Experiment batch id."
            },
            "required": true,
            "description": "Experiment batch id."
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment detail with runs and results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentDetail"
                }
              }
            }
          },
          "400": {
[...]
